@import url("https://fonts.googleapis.com/css?family=Lato:400|Poppins:400");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
:root {
  /* font colors*/
  --primary-100: #ffcccc;
  --primary-200: #ff9999;
  --primary-300: #ff6666;
  --primary-400: #ff3333;
  --primary-500: #ff0000;
  --primary-600: #cc0000;
  --primary-700: #990000;
  --primary-800: #660000;
  --primary-900: #330000;

  /* shades of gray */
  --gray-50: #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e1;
  --gray-400: #94a3b8;
  --gray-500: #64748b;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1e293b;
  --gray-900: #0f172a;

  /* other colors */
  --white: #ffffff;
  --red-danger: #dc3545;
  --red-background: #f6c5af;

  --border-radius: 5px;
  --transition: all 0.3s linear;
  --letter-spacing: 1px;
  --scale: 1.02;

  /* shadows */

  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: var(--gray-50);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
  letter-spacing: 2px;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--gray-900);
}
img {
  display: block;
  width: 100%;
}
.btn-block {
  width: 100%;
}
.full-page {
  min-height: calc(100vh - 10rem);
}
.center-content {
  width: 90vw;
  max-width: 950px;
  text-align: center;
}
